@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#logo-main {
  display: block;
  margin: 0px auto; }

/* ===== Google Font Import - Poppins ===== */
* {
  font-family: 'Poppins', sans-serif; }

.container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px; }
  .container .search-box {
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px; }

.search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  padding: 0 15px 0 45px;
  color: black;
  border-radius: 6px; }

.search-box i {
  position: absolute;
  z-index: 2;
  color: #999;
  top: 50%;
  left: 15px;
  font-size: 20px;
  transform: translateY(-50%); }

.container .images .image-box {
  position: relative;
  height: 300px;
  width: 210px;
  border-radius: 6px;
  overflow: hidden; }

.images {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .images .image-box {
    margin: 8px; }
    .images .image-box img {
      height: 100%;
      width: 100%;
      border-radius: 6px;
      transition: transform 0.2s linear; }

.image-box:hover img {
  transform: scale(1.05); }

.image-box h6 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize; }

footer {
  display: block;
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
  padding: 60px 0px 30px 0px;
  background-color: #535353; }
  footer .logo {
    margin-bottom: 20px; }
  footer ul {
    padding: 0; }
    footer ul li {
      display: block;
      margin-bottom: 10px;
      padding: 0px;
      list-style: none; }
      footer ul li a {
        font-size: 14px;
        color: #fff;
        transition: all .3s;
        text-decoration: none !important; }
        footer ul li a:hover {
          color: #aaa; }
  footer h4 {
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px; }
  footer .under-footer {
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid rgba(250, 250, 250, 0.3); }
    footer .under-footer ul {
      margin-top: 20px; }
      footer .under-footer ul li {
        display: inline-block;
        margin: 0px 10px; }
        footer .under-footer ul li a {
          font-size: 22px; }
    footer .under-footer p {
      color: #fff;
      font-size: 14px;
      font-weight: 300; }
    footer .under-footer a {
      color: #cff; }
      footer .under-footer a:hover {
        color: #c66; }

@media (max-width: 767px) {
  footer {
    text-align: center; }
  footer h4 {
    margin-top: 30px; } }
