@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#logo-main {
  display: block;
  margin: 10px auto; }

nav {
  width: 70vw;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto; }

a {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #a0a0a0;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px; }

/* ===== Google Font Import - Poppins ===== */
* {
  font-family: 'Poppins', sans-serif; }

.container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px; }
  .container .search-box {
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px; }

.search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  padding: 0 15px 0 45px;
  color: black;
  border-radius: 6px; }

.search-box i {
  position: absolute;
  z-index: 2;
  color: #999;
  top: 50%;
  left: 15px;
  font-size: 20px;
  transform: translateY(-50%); }

.container .images .image-box {
  position: relative;
  height: 300px;
  width: 210px;
  border-radius: 6px;
  overflow: hidden; }

.images {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .images .image-box {
    margin: 8px; }
    .images .image-box img {
      height: 100%;
      width: 100%;
      border-radius: 6px;
      transition: transform 0.2s linear; }

.image-box:hover img {
  transform: scale(1.05); }

.image-box h6 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize; }

footer {
  display: block;
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
  padding: 60px 0px 30px 0px;
  background-color: #535353; }
  footer .logo {
    margin-bottom: 20px; }
  footer ul {
    padding: 0; }
    footer ul li {
      display: block;
      margin-bottom: 10px;
      padding: 0px;
      list-style: none; }
      footer ul li a {
        font-size: 14px;
        color: #fff;
        transition: all .3s;
        text-decoration: none !important; }
        footer ul li a:hover {
          color: #aaa; }
  footer h4 {
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px; }
  footer .under-footer {
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid rgba(250, 250, 250, 0.3); }
    footer .under-footer ul {
      margin-top: 20px; }
      footer .under-footer ul li {
        display: inline-block;
        margin: 0px 10px; }
        footer .under-footer ul li a {
          font-size: 22px; }
    footer .under-footer p {
      color: #fff;
      font-size: 14px;
      font-weight: 300; }
    footer .under-footer a {
      color: #cff; }
      footer .under-footer a:hover {
        color: #c66; }

@media (max-width: 767px) {
  footer {
    text-align: center; }
  footer h4 {
    margin-top: 30px; } }

#contact {
  width: 100%;
  height: 100%;
  margin-bottom: 150px; }

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
  font: 300 40px 'poppins', sans-serif;
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px; }

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
  padding: 0px;
  position: relative;
  max-width: 890px; }

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

.form-control,
textarea {
  max-width: 400px;
  color: black;
  letter-spacing: 1px; }

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out; }

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out; }

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 4px; }

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px); }

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px; }

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px; }

.list-item {
  line-height: 4;
  color: black; }

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #292929; }

.place {
  margin-left: 62px; }

.phone {
  margin-left: 56px; }

.gmail {
  margin-left: 53px; }

.contact-text a {
  color: black;
  text-decoration: none;
  transition-duration: 0.2s; }

.contact-text a:hover {
  color: #7e7e7e;
  text-decoration: none; }

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0; }

.social-media-list li a {
  color: white; }

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #0004ff;
  background-color: black;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #acabab;
  transition: all .2s ease-in-out; }

.social-media-list li:hover {
  background-color: #f8f8f8; }

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65); }

.social-media-list li:hover a {
  color: black; }

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column; }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto; }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px; }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px; }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px; } }

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto; }
  .form-control,
  textarea {
    margin: 0 auto; }
  .name,
  .email,
  textarea {
    width: 280px; }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px; }
  .social-media-list {
    left: 0; }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem; }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px; } }

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%; } }
