* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Variables
@import './variables/colores';
//Seeciones
@import './secciones/header';
@import './secciones/index';
@import './secciones/footer';
@import './secciones/contacto';