* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Variables
@import './variables/colores';
//Seeciones
@import './secciones/header';
@import './secciones/index';
@import './secciones/footer';
@import './secciones/contacto';
@import './secciones/preguntasFrecuentes';
@import './secciones/camperas';
@import './secciones/cuadros';
@import './secciones/mates';
@import './secciones/comoCuidarProductos';
@import './secciones/quienesSomos';