.cuidarMate {
    position: relative;
    //min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}

.contenido {
    border: 2px solid #999;
    background-color: #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    display: contents;

    .cuidarP {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 5px;
        padding-top: 18px;
        margin-bottom: 0;
    }
}