footer {
    display: block;
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
    padding: 60px 0px 30px 0px;
    background-color: #535353;

    .logo {
        margin-bottom: 20px;
    }

    ul {
        padding: 0;

        li {
            display: block;
            margin-bottom: 10px;
            padding: 0px;
            list-style: none;

            a {
                font-size: 14px;
                color: #fff;
                transition: all .3s;
                text-decoration: none !important;

                &:hover {
                    color: #aaa;
                }
            }
        }
    }

    h4 {
        letter-spacing: 0.5px;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 20px;

    }

    .under-footer {
        margin-top: 30px;
        padding-top: 30px;
        text-align: center;
        border-top: 1px solid rgba(250, 250, 250, 0.3);

        ul {
            margin-top: 20px;

            li {
                display: inline-block;
                margin: 0px 10px;

                a {
                    font-size: 22px;
                }
            }
        }

        p {
            color: #fff;
            font-size: 14px;
            font-weight: 300;
        }

        a {
            color: #cff;

            &:hover {
                color: #c66;
            }
        }
    }
}

@media (max-width: 767px) {
    footer {
        text-align: center;
    }

    footer h4 {
        margin-top: 30px;
    }
}