#logo-main {
    display: block;
    margin: 10px auto;
}

nav {
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

a {
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}