#logo-main {
    display: block;
    margin: 10px auto;
    width: 35%;
}

@media (max-width: 767px) {
    #logo-main {
        width: 70%;
    }
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

nav {
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: inline-block;
        //background: rgb(241, 241, 241);
        //border-radius: 5px;

        li {

            line-height: 30px;
            text-transform: uppercase;
            font-size: 11px;
            cursor: pointer;
            position: relative;

            a {
                position: relative;
                text-decoration: none;
                font-family: "Poppins", sans-serif;
                color: #000000;
                font-size: 18px;
                letter-spacing: 0.5px;
                padding: 0 10px;
            }

            &:hover {
                background: #f0f0f0;
                //border-radius: 5px 5px 5px 5px
            }
        }
    }
}