/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    //min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;

    .search-box {
        position: relative;
        height: 42px;
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

.search-box {
    input {
        position: absolute;
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: #f5f5f5;
        padding: 0 15px 0 45px;
        color: rgb(0, 0, 0);
        border-radius: 6px;
    }

    i {
        position: absolute;
        z-index: 2;
        color: #999;
        top: 50%;
        left: 15px;
        font-size: 20px;
        transform: translateY(-50%);
    }
}

.container .images .image-box {
    position: relative;
    height: 315px;
    width: 250px;
    border-radius: 6px;
    overflow: hidden;
}

.images {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .image-box {
        margin: 8px;
        box-shadow: 2px 2px 8px -1px #c9c9c9;

        h6 {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fff;
            font-size: 12px;
            font-weight: 400;
            text-transform: capitalize;
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: 6px;
            transition: transform 0.2s linear;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}