/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    //min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}

.container .images .image-box {
    position: relative;
    height: 315px;
    width: 250px;
    border-radius: 6px;
    overflow: hidden;
}

.images {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .image-box {
        margin: 8px;
        box-shadow: 2px 2px 8px -1px #c9c9c9;

        &:hover {
            .description {
                opacity: 1;
                transform: translateY(-60px);
            }

            h6 {
                transform: translate(0, 100px)
            }

            img {
                transform: scale(1.10)
            }
        }

        .description {
            width: 100%;
            opacity: 0;
            height: 100px;
            position: absolute;
            top: 105%;
            //left: 10%;
            font-size: 15px;
            //left:-100%;
            background: rgba(255, 255, 255, 0.753); //01a89e
            //background:rgba(64,64,64,0.5);
            transition: all 300ms;
            text-align: center;
            //padding-top: 5px;
        }
    }

    h6 {
        position: absolute;
        bottom: 00px;
        width: 100%;
        left: 10px;
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        text-transform: capitalize;
        transition: all 400ms;
    }

    img {
        height: 100%;
        width: 100%;
        border-radius: 6px;
        transition: transform 0.2s linear;
        position: absolute;
        transition: all 500ms;
    }
}