/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    //min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}

.container .images .image-box {
    position: relative;
    height: 315px;
    width: 250px;
    border-radius: 6px;
    overflow: hidden;
}

.images {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .image-box {
        margin: 8px;
        box-shadow: 2px 2px 8px -1px #c9c9c9;

        h6 {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fff;
            font-size: 12px;
            font-weight: 400;
            text-transform: capitalize;
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: 6px;
            transition: transform 0.2s linear;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}