.container {
    padding-top: 8px;
    max-width: 970px;
    margin: 0 auto;

    p {
        text-align: center;
        letter-spacing: 0.5px;
    }

    h1,
    h2 {
        text-align: center;
        padding-bottom: 15px;
        padding-top: 25px;

    }

    .images {

        .image-box {

            &:hover {
                .description2 {
                    opacity: 1;
                    transform: translateY(-60px);
                }
            }

            .description2 {
                width: 100%;
                opacity: 0;
                height: 100px;
                position: absolute;
                top: 112%;
                //left: 10%;
                font-size: 15px;
                //left:-100%;
                background: rgba(255, 255, 255, 0.781); //01a89e
                //background:rgba(64,64,64,0.5);
                transition: all 300ms;
                text-align: center;
                text-transform: uppercase;
                //padding-top: 5px;
            }
        }
    }


    .imgPlano {
        height: 400px;
        width: 675px;
        margin: auto;

        .plano {
            margin: 8px;
            box-shadow: 2px 2px 8px -1px #ffffff;
            height: 400px;
            width: 320px;

            .letraPlano {
                color: black;
                width: 100%;
                left: 1px;
                font-size: 15px;
                font-weight: 600;
                text-align: center;
            }
        }
    }
}