.outer-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.inner-container {
    width: 50rem;
    height: auto;
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.ab {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 30px;
    font-size: 30px;
}

section>.abu {
    font-size: 25px;
    margin-bottom: 15px;
}

.leon {
    float: right;
    width: 40%;
    padding-left: 2%;
    //margin-bottom: 35px;
    border-radius: 2000%;
}

.vision {
    //float: none;
    width: 80%;
    margin-inline-start: 8%;
    justify-content: center;
    margin-bottom: 25px;
    align-content: center;
    border-radius: 50rem;
    //margin: 1.5rem auto;
}

@media (max-width: 767px) {
    .leon {
        width: 50%;
    }
}

.p_about {
    font-size: 16px;

}

.p_aboutus {
    text-align: center;
}