.outer-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    width: 50rem;
    height: 40rem;
    padding: 30px;
    position: relative;
    overflow: hidden;
}

.ab {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 20px;
    font-size: 30px;
}

section>.abu {
    font-size: 25px;
    margin-bottom: 15px;
    font-family: "Kaushan Script", cursive;
}

.leon {
    float: right;
    width: 40%;
    padding-left: 3%;
    margin-bottom: 35px;
    border-radius: 50%;
}

.p_about{
    font-size: 16px;
    
}

.p_aboutus{
    text-align: center;
}